/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

html, body {
    color: #666666;
    font-family: 'Avenir', sans-serif;
    font-weight: 200;
    @apply .m-0 .h-screen;
    @apply .bg-white;
}

.toasted-container {
    font-weight: bold !important;
    top: 15px !important;
    right: 20px !important;
}

.toasted {
    border: 4px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 999px !important;
}

a {
    @apply .text-grey-darkest .no-underline;

    &:hover, &:focus {
        @apply .text-black;
    }
}

button.button, a.button {
    @apply .inline-block .py-2 .px-3;
    @apply .text-lg .border-4 .rounded-lg;
    @apply .select-none;
    border-color: rgba(0, 0, 0, 0.1);

    &.blue {
        @apply .bg-blue .text-white;
    }
    &.green {
        @apply .bg-green .text-white;
    }
    &.link {
        @apply .text-grey-darkest;
        border-color: rgba(0, 0, 0, 0.01);
    }
    &.orange {
        @apply .bg-orange .text-white;
    }
    &.red {
        @apply .bg-red .text-white;
    }
    &.white {
        @apply .bg-white .text-grey-darkest;
    }

    &:focus {
        @apply .outline-none;
        border-color: rgba(0, 0, 0, 0.3);
    }
}

form {
    div.group {
        @apply .mb-4;

        p {
            @apply .mt-1 .mb-0;
            @apply .select-none;
        }
    }
    div.actions {
        @apply .text-right;
    }
}

h1, h2, h3, h4, h5, h6 {
    @apply .mb-2 .mt-5;
}

.input {
    @apply .w-full .py-2 .px-3;
    @apply .text-lg .border-4 .rounded-lg;

    &:focus {
        @apply .outline-none;
        @apply .border-green;
    }
}

label {
    @apply .flex .block .mb-1 .font-bold;
    @apply .select-none;

    input[type="checkbox"] {
        @apply .w-auto;
    }
}

p {
    @apply .my-3 .leading-normal;
}

.card {
    @apply .p-3 .rounded-lg;
    @apply .bg-white;
}
